/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


.markdown img {
  display: block;
  width: 1000px;
  max-width: 100%;
  height: auto;
  margin: 1rem auto; 
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  object-fit: contain;
}

.markdown p{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.markdown h2 {
  font-size: 2rem;
  font-weight: bold;
}

.markdown h1, h2, h3, h4, h5, h6, p{
  padding: 0 1rem;
}
@layer docusaurus.theme-classic {
  @media (min-width: 996px) {
    main.docMainContainer_TBSr div.container div.generatedIndexPage_vN6x {
      max-width: 100% !important;
    }
  }
}

.docItemContainer_c0TR {
  width: 1400px;
}

section.row > article {
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 300px;
}

a.info {
  color: #25c2a0;
  text-decoration-color: #25c2a0;
}
code{
  color: #25c2a0;
  background: transparent;
}
.footer--dark .container-fluid{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
}

.button.button--secondary{
  display: flex;
  align-items: center;
  background: #1C1A1D;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 50px;
}

.button.button--secondary:hover{
  background-color: #333333;
  color: #fff !important;
  transition: all 0.3s ease;
}

.buttons_wjNP{
  height: 50px !important;
  background: #fff !important;
  color:#1C1A1D !important;
  border: none;
  border-radius: 4px;
}

.buttons_wjNP:hover{
  background-color: #f0f0f0 !important;
  color: #20C997 !important;
  border: 1px solid #20C997 !important;
}
.hero__title{
  color: #fff;
}

.hero__subtitle{
  color: #fff;
}

@media (max-width: 768px) {
  .footer--dark .container-fluid {
    display: block;
    flex-direction: column;
    text-align: left;
    row-gap: 0px;
  }
}